.admin-delivery-master-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.admin-delivery-master-admin-delivery-master {
  width: 100%;
  height: 1674px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(208, 208, 208, 1);
}
.admin-delivery-master-bodyview {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1920px;
  height: 1674px;
  margin: auto;
  position: absolute;
}
.admin-delivery-master-deliverybox {
  top: 148px;
  left: 0px;
  right: 0px;
  width: 1752px;
  height: 1432px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.admin-delivery-master-regisitem {
  top: 59px;
  left: 203px;
  width: 1417px;
  height: 1268.12353515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-delivery-master-product-id {
  top: 269px;
  left: 0px;
  width: 1348px;
  height: 804px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-delivery-master-rectangle2 {
  top: 40px;
  left: 0px;
  right: 0px;
  width: 1340px;
  height: 764px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.admin-delivery-master-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-delivery-master-registergroup {
  top: 1178px;
  left: 974px;
  width: 430px;
  height: 90.12353515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 65, 102, 1);
}
.admin-delivery-master-text02 {
  top: 10px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-delivery-master-group137 {
  top: 106px;
  left: 0px;
  width: 1417px;
  height: 126.12353515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-delivery-master-product-id1 {
  top: 0px;
  left: 0px;
  width: 939px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.admin-delivery-master-rectangle21 {
  top: 40px;
  left: 0px;
  right: 0px;
  width: 931px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.admin-delivery-master-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-delivery-master-registergroup1 {
  top: 36px;
  left: 987px;
  width: 430px;
  height: 90.12353515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 65, 102, 1);
}
.admin-delivery-master-text06 {
  top: 10px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-delivery-master-text08 {
  top: 40px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 818px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
