.help-centernew-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.help-centernew-help-centernew {
  width: 100%;
  height: 1314px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(244, 244, 244, 1);
}
.help-centernew-bodyview {
  top: 79px;
  left: 1px;
  width: 1920px;
  height: 1235px;
  position: absolute;
}
.help-centernew-rectangle118 {
  top: 1295px;
  left: 59.08791732788086px;
  width: 771px;
  height: 841px;
  position: absolute;
}
.help-centernew-low-bar {
  top: 1228px;
  left: 1px;
  width: 1920px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(164, 189, 219, 1);
}
.help-centernew-text {
  top: 23px;
  left: 697px;
  color: rgba(59, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-rectangle102 {
  top: 104px;
  left: -67px;
  width: 2054px;
  height: 457px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.help-centernew-text02 {
  top: 152px;
  left: 444px;
  color: rgba(17, 17, 17, 1);
  width: 1023px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100px;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-show03 {
  top: 775px;
  left: 685px;
  width: 553px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.help-centernew-group106 {
  top: 24.9998779296875px;
  left: 235.99993896484375px;
  width: 298px;
  height: 61.199913024902344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-group89 {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 61.199913024902344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-text04 {
    color: rgb(74, 121, 164);
    width: 298px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: SemiBold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.help-centernew-text05 {
  top: 37.43115234375px;
  left: 0.45758378505706787px;
  color: var(--dl-color-font-color);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-rectangle78 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 103px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.help-centernew-group {
  top: 14px;
  left: 103px;
  width: 75px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-vector {
  top: 0px;
  left: 15.000114440917969px;
  width: 45px;
  height: 32px;
  position: absolute;
}
.help-centernew-vector01 {
  top: 0px;
  left: 11.250114440917969px;
  width: 64px;
  height: 71px;
  position: absolute;
}
.help-centernew-vector02 {
  top: 43.421173095703125px;
  left: -2.2737367544323206e-13px;
  width: 11px;
  height: 32px;
  position: absolute;
}
.help-centernew-show02 {
  top: 775px;
  left: 93px;
  width: 508.0000915527344px;
  height: 102.68246459960938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-rectangle781 {
  top: 0px;
  left: 0px;
  width: 508px;
  height: 103px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.help-centernew-group104 {
  top: 10.99993896484375px;
  left: 105.99951171875px;
  width: 402.0005798339844px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-group891 {
  top: 8.715152740478516px;
  left: 130.46762084960938px;
  width: 271.532958984375px;
  height: 65.36437225341797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-text07 {
  top: -0.00009353734640171751px;
  left: 0.3396613299846649px;
  color: rgba(74, 121, 164, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-text09 {
  top: 41.595367431640625px;
  left: 0.00002388311258982867px;
  color: var(--dl-color-font-color);
  width: 272px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-image699861 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.help-centernew-rectangle79 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 103px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.help-centernew-show01 {
  top: 778px;
  left: 1295px;
  width: 545px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.help-centernew-rectangle782 {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 103px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.help-centernew-group105 {
  top: 18.9998779296875px;
  left: 237.886474609375px;
  width: 290.11328125px;
  height: 65.25812530517578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-group892 {
  top: 0px;
  left: 0px;
  width: 290.11328125px;
  height: 65.25812530517578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-text11 {
  left: 0.11328125px;
  color: rgba(74, 121, 164, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-text13 {
  top: 41.489261627197266px;
  color: var(--dl-color-font-color);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-centernew-group1 {
  top: 11px;
  left: 117px;
  width: 87.39291381835938px;
  height: 71.467041015625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-group2 {
  top: 0px;
  left: 0px;
  width: 87.39291381835938px;
  height: 71.467041015625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.help-centernew-vector03 {
  top: 17.276409149169922px;
  left: 22.786083221435547px;
  width: 19px;
  height: 30px;
  position: absolute;
}
.help-centernew-vector04 {
  top: 17.276409149169922px;
  left: 44.20625305175781px;
  width: 20px;
  height: 37px;
  position: absolute;
}
.help-centernew-vector05 {
  top: 0.001840853365138173px;
  left: 41.37594223022461px;
  width: 46px;
  height: 51px;
  position: absolute;
}
.help-centernew-vector06 {
  top: 0px;
  left: 34.13402557373047px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.help-centernew-vector07 {
  top: 0px;
  left: 27.171916961669922px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.help-centernew-vector08 {
  top: 20.12512969970703px;
  left: 0px;
  width: 46px;
  height: 51px;
  position: absolute;
}
.help-centernew-vector09 {
  top: 66.85472869873047px;
  left: 48.616939544677734px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.help-centernew-vector10 {
  top: 66.85472869873047px;
  left: 55.57904815673828px;
  width: 5px;
  height: 5px;
  position: absolute;
}
