.address-master-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.address-master-address-master {
  width: 100%;
  height: 1469px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(213, 217, 213, 1);
}
.address-master-low-bar {
  left: 0px;
  right: 0px;
  width: 1920px;
  bottom: 0px;
  height: 86px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(164, 189, 219, 1);
}
.address-master-text {
  top: 23px;
  left: 697px;
  color: rgba(59, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-group131 {
  top: 303px;
  left: 0px;
  right: 0px;
  width: 1479px;
  height: 960px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 253, 253, 1);
}
.address-master-text02 {
  top: 619px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 292px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-text04 {
  top: 104px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 942px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-registergroup {
  top: 757px;
  left: 0px;
  right: 0px;
  width: 430px;
  height: 90.12353515625px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 65, 102, 1);
}
.address-master-text06 {
  top: 10px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-product-category {
  top: 220px;
  left: 140px;
  width: 1159px;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.address-master-rectangle2 {
  top: 51px;
  left: 0px;
  right: 0px;
  width: 1159px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.address-master-text08 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-vector {
  top: 85px;
  left: 1107.54736328125px;
  width: 24px;
  height: 17px;
  position: absolute;
}
.address-master-frame {
  top: 411px;
  left: 135px;
  width: 726px;
  height: 151px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.address-master-rectangle21 {
  top: 65px;
  left: 0px;
  right: 0px;
  width: 726px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.address-master-text10 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-frame1 {
  top: 411px;
  left: 900px;
  width: 399px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.address-master-rectangle3 {
  top: 69px;
  left: 0px;
  right: 0px;
  width: 399px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.address-master-text12 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.address-master-group132 {
  top: 103px;
  left: -20px;
  width: 1973px;
  height: 130px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 60, 110, 1);
}
.address-master-text14 {
  top: 21px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100px;
  font-stretch: normal;
  text-decoration: none;
}
