.register-master-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-master-register-master {
  width: 100%;
  height: 1414px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(208, 208, 208, 1);
}
.register-master-bodyview {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1414px;
  position: absolute;
}
.register-master-regisitem {
  top: 153px;
  left: 413px;
  width: 1093px;
  height: 1159px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.register-master-registergroup {
  top: 927px;
  left: 0px;
  right: 0px;
  width: 430px;
  height: 90.12353515625px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 65, 102, 1);
}
.register-master-text {
  top: 6px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-master-confirm-password {
  top: 695px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 135px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-master-rectangle2 {
  top: 49px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.register-master-text02 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-master-password {
  top: 514px;
  left: 197px;
  width: 693px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-master-rectangle21 {
  top: 49px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.register-master-text04 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-master-email {
  top: 354px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 135px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-master-rectangle22 {
  top: 49px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.register-master-text06 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-master-user-name {
  top: 188px;
  left: 197px;
  width: 694px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-master-rectangle23 {
  top: 49px;
  left: 0px;
  right: 0px;
  width: 693px;
  height: 86px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.register-master-text08 {
  left: 0px;
  color: rgb(0, 0, 0);
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-master-create-text {
  top: 75px;
  left: 0px;
  right: 0px;
  width: 553px;
  height: 72px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-master-text09 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
